VITE_SUPABASE_URL=https://ofnokdghnrdxupzocjps.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9mbm9rZGdobnJkeHVwem9janBzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2NjE2MDUsImV4cCI6MjEwNjIzNzYwNX0.kjxMuYF3mkBmyI33b7uHP9554HFOf2BhPhRnWNEU9Xg
